/* Menu */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    font-size: 1.1rem;
  }
  
  /* logo Menu */
  .navbar-logo img {
    height: 60px;
    width: auto;
    display: block;
    object-fit: contain;
  }
  
  /* Menu Links */
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .navbar-links li a {
    position: relative;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    transition: all 0.3s ease;
  }
  
  /* on hover */
  .navbar-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color:#e9b7f5;
    transition: width 0.3s ease;    
  }

.navbar-links li a:hover::after {
    width: 100%;
} 

.navbar-links li a.active::after {
    width: 100%;
}
