<!--Footer-->
<footer class="footer">
  <div class="footer_container">
    <div class="footer_box">
      <div class="footer_Section">
        <!-- add logo? -->
        <h3>Deryana Dhuzent</h3> 
        

      </div>
    </div>

  </div>

  <!-- <div>
    <ul class="footer-links">
      <li><a href="/pages/about.html">About</a></li>
      <li><a href="/pages/projects.html">Projects</a></li>
      <li><a href="/pages/contact.html">Contact</a></li>
    </ul>
  </div>
  
  <div class="footer-bottom">
    <ul class="social-icons">
      <li>
        <a href="https://www.linkedin.com/in/deredhuzent" target="_blank"
        >LinkedIn</a
        >
      </li>
      <li>
        <a href="https://www.artstation.com/deredhuzent" target="_blank"
        >ArtStation</a
        >
      </li>
      <li>
        <a href="https://www.instagram.com/deredhuzent" target="_blank"
        >Instagram</a
        >
      </li>
    </ul>
  </div> -->

  <!-- Copy Right -->
<div class="footer_copyright">
  <!-- Dynamic year in copyright!!! \(>.<)/ -->
  <p>&copy; <span id="year"></span> Deryana Dhuzent. All rights reserved.</p>
</div>


</footer>
