  /* footer general background obscuro y bordes */
.footer {
    background-color: #1d1820;
    padding: 2rem 3rem;
    font-size: 0.95rem;
    border-top: 1px solid #ec8aec;
  }

  p, h3 {
    color: #fce2ff;
  }

/* flex container */
  .flex_container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:baseline;
    gap: 20px;
  }
  
  /* columnas gral */
  .column {
    flex: 1 1 1;
    min-width: 0;
    /* flex-shrink: 1;
    min-width: 220px; */
    padding: 20px;
    text-align: center;
    /* temporal */
    border: 1px solid white;
  }
  
  /* logo footer  */
  .footer-logo img {
    height: 60px;
    width: auto;
    display: center;
    object-fit: contain;
  }

  .icon{
    height: 30px;
  }

/* afuera del flex */
  .footer_copyright {
    border-top: 1px solid #fce2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  