<!-- All Footer-->
<footer class="footer"> 

  <!-- footer general background obscuro y bordes -->
      <a href="index.html">

  <!-- flex Container -->
    <div class="flex_container">

      <!-- COLUMNA 1 -->
      <div class="column"> 
        <h3>Column 1</h3>
        <p>texto</p>
      <p>textos pongo un texto muy largo aqui para hacer contenido</p>

      
      </div>

      <!-- COLUMNA 2 -->
      <!-- <div class="column"> 
        <h3>Column 2</h3>
      <p>textos pongo un texto muy largo aqui para hacer contenido</p>
      
      </div> -->
      
      <!-- COLUMNA  -->
      <div class="column"> 

      <p>textos pongo un texto muy largo aqui para hacer contenido</p>
      <div class="flex_container">
        <ul>
          <li><a href=""></a>
            
            <img src="/assets/images/artstation_white.png" class="icon"></li>
          <li><p>text</p></li>
          <li><p>text</p></li>
        </ul>

      </div>
        <!-- Logo de Footer -->
        <div class="footer-logo">
          <a href="index.html"><img id="footer_logo" alt="logo"/></a>
        </div> 

      </div>



    <!-- end flex container -->
    </div>

<!-- dentro del footer, afuera del flex container -->
  <!-- Copy Right -->
<div class="footer_copyright">
  <!-- Dynamic year in copyright!!! \(>.<)/ -->
  <p>&copy; <span id="year"></span> Deryana Dhuzent. All rights reserved.</p>
</div>
  <!-- end Copy Right -->


</footer>
