<!-- All Footer-->
<footer class="footer"> 
  <!-- footer general background obscuro y bordes -->
      <a href="index.html">

  <!-- flex Container -->
    <div class="flex_container">
      <!-- 3 columnas -->
      <div class="column"> <h3>Column 1</h3></div>
      <div class="column"> <h3>Column 2</h3></div>
      <div class="column"> <h3>Column 3</h3></div>



    <!-- end flex container -->
    </div>

    <!-- temporal afuera de columna 3 -->
    <!-- Logo de Footer -->
    <div class="footer-logo">
      <a href="index.html"><img id="footer_logo" alt="logo"/></a>
    </div>

<!-- dentro del footer, afuera del flex container -->
  <!-- Copy Right -->
<div class="footer_copyright">
  <!-- Dynamic year in copyright!!! \(>.<)/ -->
  <p>&copy; <span id="year"></span> Deryana Dhuzent. All rights reserved.</p>
</div>
  <!-- end Copy Right -->


</footer>
