  /* footer general background obscuro y bordes */
.footer {
    background-color: #1d1820;
    padding: 2rem 3rem;
    font-size: 0.95rem;
    color: #555;
    border-top: 1px solid #ddd;

  }

/* flex container */
  .flex_container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
  }

  /* columnas gral */
  .column {
    color: #ddd;
    flex: 1;
    padding: 20px;
    /* temporal */
    border: 1px solid white;
  }

  /* logo footer  */
  .footer-logo img {
    height: 60px;
    width: auto;
    display: block;
    object-fit: contain;
  }

/* afuera del flex */
  .footer_copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  